<table mat-table class="table__task-list">
    <thead>
        <tr>
            <th>N</th>
            <th>Task name</th>
            <th>Deadline</th>
            <th>Priority</th>
            <th>Category</th>
            <th>Edit task</th>
            <th>Delete task</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let task of tasks">
            <td>1</td>
            <td>{{task.name}}</td>
            <td>{{task.deadline}}</td>
            <td>{{task.priority}}</td>
            <td>{{task.category}}</td>
            <td>
                <button mat-icon-button color="primary" aria-label="Edit task">
                  <mat-icon>edit icon</mat-icon>
                </button>
            </td>
            <td>
                <button mat-icon-button color="warn" aria-label="Delete task" (click)="openModal()">
                  <mat-icon>delete icon</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>

</table>

<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{"element.position"}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Task name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef> Deadline </th>
        <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
    </ng-container>

    <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef> Priority </th>
        <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element"> </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->
