@import "../../../variables.scss";
.header-wrapper {
    margin-bottom: 60px;
    padding: 20px;
    background-color: $primary;
    .header-wrapper__link {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }
}