<ng-container *ngIf="true">
    <header class="header-wrapper">
        <a routerLink="/home">
            <button mat-raised-button color="accent">Task list</button>
        </a>
        <app-button-create-task style="margin-right: 10px;"></app-button-create-task>
        <app-button-create-category style="margin-right: 10px;"></app-button-create-category>
        <button mat-raised-button color="warn" (click)="exit()">Exit</button>
    </header>
</ng-container>

<ng-container *ngIf="false">
    <header class="header-wrapper">
        <a routerLink="/auth/login">
            <button mat-raised-button color="primary">Login</button>
        </a>
        <a routerLink="/auth/registration">
            <button mat-raised-button color="primary">Registration</button>
        </a>
    </header>
</ng-container>


<!-- <header class="header-wrapper" [ngIf]="isAuth">
  <a routerLink="/auth/login">
      <button mat-raised-button color="primary">Login</button>
  </a>
  <a routerLink="/auth/registration">
      <button mat-raised-button color="primary">Registration</button>
  </a>
  <a routerLink="/home">
      <button mat-raised-button color="accent">Task list</button>
  </a>

  <app-button-create-task style="margin-right: 10px;"></app-button-create-task>

  <app-button-create-category style="margin-right: 10px;"></app-button-create-category>

  <button mat-raised-button color="warn" (click)="exit()">Exit</button>
</header> -->