@import "../../../variables.scss";
.header-wrapper {
    width: 100%;
    padding: 20px;
    background-color: $primary;
    border-bottom: 1px solid black;
    a {
        margin-right: 10px;
    }
}
