.create-task {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 70px;
    height: 70px;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    .create-task__add-icon {
        font-size: 30px;
    }
}
