<form [formGroup]="createTaskForm" class="form-group form-group__modal form-group__modal__create-task">
    <div class="mat-title">Create new task</div>

    <mat-form-field class="form-group__modal__create-task_task-name" color="accent" appearance="outline">
        <mat-label>Task name:</mat-label>
        <input type="text" matInput formControlName="taskNameFormControl" placeholder="Create app" required>
    </mat-form-field>

    <mat-form-field class="form-group__modal__create-task_deadline" color="accent" appearance="outline">
        <mat-label>Deadline:</mat-label>
        <input type="text" matInput formControlName="taskDeadlineFormControl" placeholder="17.01.2000" required>
    </mat-form-field>

    <mat-form-field class="form-group__modal__create-task_category" color="accent" appearance="outline">
        <mat-label>Category:</mat-label>
        <input type="text" matInput formControlName="taskCategoryFormControl" placeholder="Main">
    </mat-form-field>

    <section class="form-group__modal__create-task_priority">
        <mat-checkbox formControlName="taskPriorityFormControl" class="example-margin">Priority?</mat-checkbox>
    </section>

    <button mat-raised-button color="accent" (click)="createTask()">Create</button>
</form>
