<div class="modal__create-task">
    <div class="mat-title">Create new task</div>

    <!-- <mat-form-field class="form-group__modal__create-task_task-name" color="primary" appearance="outline">
        <mat-label>Task name:</mat-label>
        <input matInput type="text" matInput placeholder="Create app" required>
    </mat-form-field>

    <mat-form-field class="form-group__modal__create-task_deadline" color="primary" appearance="outline">
        <mat-label>Deadline:</mat-label>
        <input matInput type="text" placeholder="17.01.2000" required>
    </mat-form-field>

    <mat-form-field class="form-group__modal__create-task_priority" color="primary" appearance="outline">
        <mat-label>Priority:</mat-label>
        <input matInput type="checkbox" matInput>
    </mat-form-field>

    <mat-form-field class="form-group__modal__create-task_category" color="primary" appearance="outline">
        <mat-label>Category:</mat-label>
        <input matInput type="text" placeholder="Main">
    </mat-form-field> -->

    <button mat-raised-button color="accent" (click)="createTask()">Create</button>
</div>
