<form [formGroup]="createCategoryForm" class="form-group form-group__modal form-group__modal__create-category">
    <div class="mat-title">Create new category</div>

    <mat-form-field class="form-group__modal__create-category_category-name" color="accent" appearance="outline">
        <mat-label>Category name:</mat-label>
        <input type="text" matInput formControlName="categoryNameFormControl" placeholder="Create app">
    </mat-form-field>
    <button type="submit" [disabled]="!createCategoryForm.valid" mat-raised-button color="accent" (click)="createCategory()">Create</button>
</form>

<button mat-raised-button color="accent"><a routerLink="/home/categories">Go to categories list</a></button>
