<form [formGroup]="taskForm" (ngSubmit)="updateTask()" class="form-group form-group__modal form-group__modal__edit-task">
    <div class="mat-title">Edit task</div>

    <mat-form-field class="form-group__modal__edit-task_task-name" color="accent" appearance="outline">
        <mat-label>Task name:</mat-label>
        <input matInput formControlName="name" placeholder="Create app">
    </mat-form-field>

    <mat-form-field class="form-group__modal__edit-task_deadline" color="accent" appearance="outline">
        <mat-label>Deadline:</mat-label>
        <input matInput formControlName="deadline" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-group__modal__edit-task_category" color="accent" appearance="outline">
        <mat-label>Category:</mat-label>
        <mat-select formControlName="category">
            <mat-option>Nothing</mat-option>
            <mat-option *ngFor="let category of categories | async" value={{category.name}}>{{category.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <section class="form-group__modal__edit-task_priority">
        <mat-checkbox formControlName="priority" class="example-margin">Priority?</mat-checkbox>
    </section>

    <button type="submit" [disabled]="!taskForm.valid" mat-raised-button color="accent">Update</button>
</form>
