<form [formGroup]="taskForm" (ngSubmit)="updateTask()" class="form-group form-group__modal form-group__modal__edit-task">
    <div class="mat-title">Edit task</div>
    <!--
      ИСПРАВИТЬ
    -->
    <input matInput formControlName="taskIdFormControl" style="visibility: hidden;">

    <mat-form-field class="form-group__modal__edit-task_task-name" color="accent" appearance="outline">
        <mat-label>Task name:</mat-label>
        <input matInput formControlName="taskNameFormControl" placeholder="Create app">
        <!-- <mat-error *ngIf="taskForm.get('taskNameFormControl').hasError('required')">
            Please enter a task name
        </mat-error>
        <mat-error *ngIf="taskForm.get('taskNameFormControl').invalid">
            Task name must be more than 5 characters
        </mat-error> -->
    </mat-form-field>

    <mat-form-field class="form-group__modal__edit-task_deadline" color="accent" appearance="outline">
        <mat-label>Deadline:</mat-label>
        <input matInput formControlName="taskDeadlineFormControl" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <!-- <mat-error *ngIf="taskDeadlineFormControl.hasError('required')">
            Choose date
        </mat-error> -->
    </mat-form-field>

    <mat-form-field class="form-group__modal__edit-task_category" color="accent" appearance="outline">
        <mat-label>Category:</mat-label>
        <!-- <input matInput formControlName="taskCategoryFormControl" placeholder="Main"> -->
        <mat-select formControlName="taskCategoryFormControl">
            <mat-option *ngFor="let category of categories" value={{category.id}}>{{category.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <section class="form-group__modal__edit-task_priority">
        <mat-checkbox formControlName="taskPriorityFormControl" class="example-margin">Priority?</mat-checkbox>
    </section>

    <button type="submit" [disabled]="!taskForm.valid" mat-raised-button color="accent">Update</button>
</form>