<!-- <div class="modal__edit-task">
    <div class="mat-title">Edit your task</div>
    <button mat-raised-button color="accent" (click)="updateTask()">Save</button>
</div> -->

<div class="form-group form-group__modal form-group__modal__edit-task">
    <div class="mat-title">Edit task</div>

    <mat-form-field class="form-group__modal__edit-task_task-name" color="accent" appearance="outline">
        <mat-label>Task name:</mat-label>
        <input type="text" matInput [formControl]="taskNameFormControl" matInput placeholder="Update app">
        <mat-error *ngIf="taskNameFormControl.hasError('required')">
            Please enter a task name
        </mat-error>
        <mat-error *ngIf="taskNameFormControl.invalid">
            Task name must be more than 5 characters
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group__modal__edit-task_deadline" color="accent" appearance="outline">
        <mat-label>Deadline:</mat-label>
        <input matInput [formControl]="taskDeadlineFormControl" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="taskDeadlineFormControl.hasError('required')">
            Choose date
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group__modal__edit-task_category" color="accent" appearance="outline">
        <mat-label>Category:</mat-label>
        <input type="text" matInput placeholder="Main">
    </mat-form-field>

    <section class="form-group__modal__edit-task_priority">
        <mat-checkbox class="example-margin">Priority?</mat-checkbox>
    </section>

    <button mat-raised-button color="accent" (click)="updateTask()">Create</button>
</div>
