<app-header></app-header>
<table>
    <thead>
        <tr>
            <th>N</th>
            <th>Task name</th>
            <th>Deadline</th>
            <th>Priority</th>
            <th>Category</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Create app</td>
            <td>1/01/2022</td>
            <td>true</td>
            <td>Main</td>
            <td>
                <button mat-icon-button color="primary" aria-label="Edit task">
                  <mat-icon>edit icon</mat-icon>
                </button>
            </td>
            <td>
                <button mat-icon-button color="warn" aria-label="Edit task">
                <mat-icon>delete icon</mat-icon>
              </button>
            </td>
        </tr>
    </tbody>

</table>
