@import "./variables.scss";
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $basic;
}

.form-group {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-height: 300px;
    border-radius: 30px;
    border: 2px solid $accent;
    background-color: $primary;
    margin: 50px auto;
    padding: 20px;
    .mat-title__auth {
        color: $accent;
    }
}

.form-group__modal {
    background: none;
    width: 300px;
    border: none;
    padding: 0;
    margin: 0;
}

.btn-create {
    width: 60px;
    height: 60px;
}
